.table {
    margin-top: 40px;
}

.table h3 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #5a5a5a;
}

.tbl {
    width: 97%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);

}

.t-row:nth-child(odd) {
    background-color: rgb(192, 192, 192);
}

.t-row .t-head {
    background-color: #333;
    color: #fff;
}

.t-row .t-data {
    padding: 10px;
}